body {
    background-image: url("raduga.jpg");
}
#red  {
    color: red;
}

#orange {
    color: orange;
}
#yellow {
    color: yellow;
}

#green {
    color: green;
}
#lightblue {
    color: lightblue;
}

#blue {
    color: blue;
}

#purple  {
    color: purple;
}
